{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
    <div class="text-danget mt-3">
        <h3>Интервью по теме: "{{ category.title }}"</h3>
        <hr>
        <table>
                <tr>
                    <td class="text-primary">{{question.question_text}}</td>
                </tr>
        </table>
                        <form id="ask_form" action="{% url 'getting_answer' category.slug question.pk %}" method="post" name="ask_form">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input
                                id="asking"
                                type="button"
                                class="btn btn-info"
                                value="Asking"
                                onclick="F1(); return false;">
                            {% if next_question %}
                            <input
                                id="next"
                                type="button"
                                class="d-none btn btn-info"
                                value="Next question"
                                onclick="location.href='{% url 'getting_answer' category.slug next_question.pk %}';"
                            >
                            <script>
                                function F1()
                                {
                                  var next_button = document.getElementById("next");
                                  var ask_button = document.getElementById("asking");
                                  let contain = next_button.classList.contains("d-none")
                                  if (contain === true) {
                                    next_button.classList.remove("d-none");
                                    ask_button.classList.add("d-none");
                                  }
                                }
                            </script>
                            {% endif %}
                        </form>

        </div>
    </div>

{% endblock %}


