{% extends "base.html" %}

{% block content %}
    <div class="container">
    <div class="text-danget mt-3">
        <h3>Интервью по теме: "{{ category.title }}"</h3>
        <hr>
        <table>
                <tr>
                    <td class="text-primary">{{question.question_text}}</td>
                </tr>
        </table>
                        {% if next_question %}
                        <form action="{% url 'getting_answer' category.slug next_question.pk %}" method="post">
                        {% else %}
                        <form action="" method="post">
                        {% endif %}
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Vote">
                        </form>
<!--        {% if next_questions %}-->
<!--                <div class="d-flex align-items-end">-->
<!--                        <div class="gx-10 p-3">-->
<!--                            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">Previous</a>-->
<!--                        </div>-->
<!--                        {% if previous_questions %}-->
<!--                        <div class="gx-10 p-3">-->
<!--                            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">Next</a>-->
<!--                        </div>-->
<!--                        {% endif %}-->
<!--                </div>-->
<!--        {% endif %}-->
    </div>
</div>
<!--    <div class="container">-->
<!--    <div class="text-danget mt-3">-->
<!--        <h3>Интервью по теме: "{{ question.category.title }}"</h3>-->
<!--        <hr>-->
<!--<h1>{{ question.question_text }}</h1>-->


<!--<form action="" method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--<input type="submit" value="Vote">-->
<!--</form>-->
<!--            </div>-->
<!--</div>-->

{% endblock %}


